<h2 style="margin-bottom: 0px">
   Alternative blocks
</h2>
<h4 style="font-size: 14px; margin-top: 0px">(no of alt blocks: {{no_alt_blocks}})</h4>
<div class="center">
    
      <table class="center" style="width:80%">
            <tr>
                <td>height</td>
                <td>age</td>
                <td>hash</td>
                <td>txs no</td>
            </tr>
            {{#blocks}}
            <tr>
                <td>{{height}}</td>
                <td>{{age}}</td>
                <td>{{hash}}</td>
                <td>{{no_of_txs}}</td>
            </tr>
            {{/blocks}}
        </table>


</div>
