<div class="center">
       <h6 style="margin:5px">
       <a href="https://github.com/moneroexamples/onion-monero-blockchain-explorer">source code</a>
       </h6>
    <h6 style="margin-top:10px">
		Help support the hosting and maintenance of this service by donating to: <br/>
		48daf1rG3hE1Txapcsxh6WXNe9MLNKtu7W7tKTivtSoVLHErYzvdcpea2nSTgGkz66RFP4GKVAsTV14v6G3oddBTHfxP6tU
        <br/><br/>
        Version: {{last_git_commit_date}} | Last hash: {{last_git_commit_hash}}
    </h6>

</div>
</body>
</html>
