<footer>
  <small>({{^enable_js}}no javascript - {{/enable_js}}no cookies - no web analytics trackers - no external resources - open sourced)</small>
      
  <small>
    Copyright 2018 Ryo-currency.com |
    <a href="https://github.com/ryo-currency/ryo-blockchain-explorer">source code</a>
    | explorer version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}})
    | ryo-currency version: {{monero_version_full}}
  </small>
  <small>
    Forked from: <a target="_blank" href="https://github.com/moneroexamples/onion-monero-blockchain-explorer">onion-monero-blockchain-explorer</a>
  </small>
</footer>
</div>
</body>
</html>
