<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="//triton-currency.com/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//triton-currency.com/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="//triton-currency.com/favicon-16x16.png">
    <link rel="manifest" href="//triton-currency.com/site.webmanifest">
    <link rel="mask-icon" href="//triton-currency.com/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Triton Currency">
    <meta name="application-name" content="Triton Currency">
    <meta name="msapplication-TileColor" content="#2b5797">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="theme-color" content="#ffffff">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>Equilibria Explorer</title>

    {{#js_files}}{{/js_files}}

</head>
<body style="background-color: #1e2123; color:white;">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="/">Equilibria Explorer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/txpool">Transaction Pool</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">API</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="/api/networkinfo">Network Info</a>
                    <a class="dropdown-item" href="/api/emmission">Emmission</a>
                  </div>
                </li>
              </ul>
		<div class="search">
		<form action="/search" method="get" style="width: 100%; margin-top:15px;" class="style-1">
		    <input type="text" name="value"
			   placeholder="block height, block hash, transaction hash">
		    <input type="submit" value="Search" class="pure-button pure-button-active">
		</form>
		<form action="/search_service_node" method="get" style="width: 100%; margin-top:15px; margin-bottom: 1em;" class="style-1">
		  <input type="text" name="value" size="120"
			 placeholder="Service Node Public Key">
		  <input type="submit" class="PageButton" value="Search">
	      </form>
	      </div>
		    

          </nav>
    </header>
