
<div class="center">
    <h1 class="center">Onion Monero Blockchain Explorer</h1>
     <h4 style="font-size: 15px; margin: 0px">(no javascript - no web analytics trackers - no images - open sourced)</h4>
     <h3 style="font-size: 12px; margin-top: 20px">

        Server time: {{server_timestamp}} | 

        {{#refresh}}
            <a href="/">Autorefresh is ON (10 s)</a>
        {{/refresh}}
        {{^refresh}}
            <a href="/autorefresh">Autorefresh is OFF</a>
        {{/refresh}}
        </h3>
</div>


    {{{mempool_info}}}


    <h2>100 recent blocks<!--(height: {{height}})--></h2>

    <div class="center">

            <table class="center">
                <tr>
                    <td>height</td>
                    <td>age [h:m:s]</td>
                    <td>block hash</td>
                    <td>reward/fees</td>
                    <td>txs</td>
                    <td>inputs/outputs</td>
                    <td>mixins</td>
                    <td>size [kB]</td>
                </tr>
                {{#blocks}}
                <tr>
                    <td>{{height}}</td>
                    <td>{{age}}</td>
                    <td>{{hash}}</td>
                    <td>{{block_reward}}</td>
                    <td>{{notx}}</td>
                    <td>{{xmr_inputs}}/{{xmr_outputs}}</td>
                    <td>{{mixin_range}}</td>
                    <td>{{blksize}}</td>
                </tr>
                {{/blocks}}
            </table>

    </div>
