
    <h1>Hidden Monero Blockchain Explorer</h1>
    <h2>
        Current height: {{height}} | Server time {{server_timestamp}} |
        {{#refresh}}
            <a href="/">Autorefresh is ON (20 s)</a>
        {{/refresh}}
        {{^refresh}}
            <a href="/autorefresh">Autorefresh is OFF</a>
        {{/refresh}}
    </h2>


    {{{mempool_info}}}


    <h2>100 recent blocks</h2>

    <div class="center">

            <table class="center">
                <tr>
                    <td>height</td>
                    <td>timestamp_(Δ mm:ss)</td>
                    <td>block hash</td>
                    <td>reward (w/ fees)</td>
                    <td>no_of_txs</td>
                    <td>inputs/outputs</td>
                    <td>mixin_range</td>
                </tr>
                {{#blocks}}
                <tr>
                    <td>{{height}}</td>
                    <td>{{timestamp}}</td>
                    <td>{{hash}}</td>
                    <td>{{block_reward}}</td>
                    <td>{{notx}}</td>
                    <td>{{xmr_inputs}}/{{xmr_outputs}}</td>
                    <td>{{mixin_range}}</td>
                </tr>
                {{/blocks}}
            </table>

    </div>
