
    <h1>Hidden Monero blockchain explorer</h1>
    <h2>Current height: {{height}} | Server time {{server_timestamp}}</h2>
    <div>
        <ul>
            <table>
                <tr>
                    <td>height</td>
                    <td>timestamp_(Δmm:ss)</td>
                    <td>block_hash</td>
                    <td>reward</td>
                    <td>no_of_txs</td>
                    <td>xmr_outputs</td>
                    <td>mixin_range</td>
                </tr>
                {{#blocks}}
                <tr>
                    <td>{{height}}</td>
                    <td>{{timestamp}}</td>
                    <td>{{hash}}</td>
                    <td>{{block_reward}}</td>
                    <td>{{notx}}</td>
                    <td>{{xmr_outputs}}</td>
                    <td>{{mixin_range}}</td>
                </tr>
                {{/blocks}}
            </table>

        </ul>

    </div>
