<h2>
   Memory pool (size: {{mempool_size}})
</h2>
<div class="center">
    
      <table class="center">
            <tr>               
                <td>age [h:m:s]</td>
                <td>transaction hash</td>
                <td>fee</td>
                <td>inputs/outputs</td>
                <td>mixin</td>
                <td>size [kB]</td>
            </tr>
            {{#mempooltxs}}
            <tr>
                <td>{{age}}</td>
                <td><a href="/tx/{{hash}}">{{hash}}</a></td>
                <td>{{fee}}</td>
                <td>{{xmr_inputs}}/{{xmr_outputs}}</td>
                <td>{{mixin}}</td>
                <td>{{txsize}}</td>
            </tr>
            {{/mempooltxs}}
        </table>


</div>
