<div class="text-center">
<h2 style="margin-bottom: 0px">
   Unconfirmed Transactions
</h2>
<h4 style="font-size: 12px; margin-top: 0px">(no of txs: {{mempool_size}}, size: {{mempool_size_kB}} kB, updated every {{ mempool_refresh_time }} seconds)</h4>
    
      <table class="table table-striped table-dark" style="border-radius: 5px;width: 90%;margin: 0px auto;float: none;">
            <tr>
                <td>Age [h:m:s]</td>
                <td>Transaction Hash</td>
                <td>Fee/per_kB [&#181;&#x278]</td>
                <!--<td>outputs</td>-->
                <td>In/Out/pID</td>
                <td>Tx Size [kB]</td>
            </tr>
            {{#mempooltxs}}
            <tr>
                <td>{{age}}</td>
                <td><a href="/tx/{{hash}}">{{hash}}</a></td>
                <td>{{fee}}/{{payed_for_kB}}</td>
                <!--<td>{{xmr_outputs}}</td>-->
                <td>{{no_inputs}}/{{no_outputs}}/{{pID}}</td>
                <td>{{txsize}}</td>
            </tr>
            {{/mempooltxs}}
        </table>

    {{^mempool_fits_on_front_page}}
      {{#partial_mempool_shown}}
      <div class="center" style="text-align: center; margin-bottom: 10px">
          <a href="/txpool">Only {{no_of_mempool_tx_of_frontpage}} txs shown. Click here to see all of them</a>
      </div>
      {{/partial_mempool_shown}}

    {{/mempool_fits_on_front_page}}


</div>
</br>
</br>
</br>
</br>