<h2 style="margin-bottom: 0px">
   Memory pool
</h2>
<h4 style="font-size: 14px; margin-top: 0px"></h4>
<div class="center info" style="text-align: center;width:80%;color:#949490">
    
   <p>Mempool data preparation for the front page failed.
    Its processing
       {{#network_info}}{{^is_pool_size_zero}}({{tx_pool_size}} txs){{/is_pool_size_zero}}{{/network_info}}
       took longer than expected and it timed out.
    To view the mempool without time constrain,
    go to dedicated mempool page: <a href="/mempool">memory pool</a>
    </p>



</div>
