
<div>

    <H4>Block hash (height): {{blk_hash}} ({{blk_height}})</H4>
    <h4>
        Eight RandomX and correspoding assembly x86 programs used
        to calcualte PoW hash of the block
    </h4>

    {{#rx_codes}}
    <h3> Program #{{rx_code_idx}}</h3>
    <table class="center" style="width: 50%; margin-top:10px">
        <tr>
            <td style="text-align: left;">RandomX code</td>
            <td style="text-align: left;">ASM x86</td>
        </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td style="text-align: left;vertical-align: top;">
            <pre>{{rx_code}}</pre>
         </td>
        <td style="text-align: left;vertical-align: top;">
            <pre>{{rx_code_asm}}</pre>
        </td>
    </tr>
    </table>
    {{/rx_codes}}




</div>
