<div>

  <div>
    <br/>
    <h3>Transaction Pusher</h3>
  </div>

  <div>
    <form action="/checkandpush" method="post" class="pure-form">
      <p>
        Paste here either a hex string of raw transaction<br/>
        (the <i>tx_blob</i> response in the wallet RPC, or the <i>raw_ryo_tx</i>
        file saved by the wallet CLI with <i>--do-not-relay</i> option specified),<br/>
        or base64 encoded, unsigned or signed transaction data<br/>
        <br/>
        (In Linux, can get the raw tx data: <i>cat raw_ryo_tx | xclip -selection clipboard</i>)<br/>
        (In Windows, can get the raw tx data: <i>certutil.exe -encode -f raw_ryo_tx encoded.txt & type "encoded.txt" | clip</i>)
      </p>

      <textarea name="rawtxdata" style="width:100%;height:400px;"></textarea>
      
      <p>
      Note: data is sent to the server, as the calculations are done on the server side
      <br/>
      Note: "check" does not work for the hex string of raw transaction
      </p>
      <div class="pure-g">
	<div class="pure-u-1-2">
	  <input type="submit" name="action" value="check" class="pure-button pure-button-active" />
	</div>
	<div class="pure-u-1-2">
	  <input type="submit" name="action" value="push" class="pure-button pure-button-active" />
	</div>
    </form>
  </div>

  <br/>
</div>
