body {
    margin: 0;
    padding: 0;
}

.center {
    margin: auto;
    width: 96%;
    border: 1px solid #73AD21;
    padding: 10px;
}

tr {
    font-family: "Lucida Console", Monaco, monospace;
    font-size  : 12px;
    height: 22px;
    color: black;
}

td {
    text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}